.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.col .row {
    margin-left: -.75rem;
    margin-right: -.75rem;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.row .col {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
}

.row .col.s1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

/* Responsivo ////////////////////////////////////////*/ 

@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }

@media (min-width:600px) { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .container {
        width: 85%;
    }
}

@media (min-width:801px) {
     /* tablet, landscape iPad, lo-res laptops ands desktops */ 
     .container {
        width: 70%;
    }
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

/* Responsivo ////////////////////////////////////////*/ 